<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sistema de Navegação{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
  <nav>
  <a href="{{ url_for('home') }}">Principal</a>
  <a href="{{ url_for('cto') }}">CTO</a>
  <a href="{{ url_for('pon') }}">PON</a>
  <a href="{{ url_for('link') }}">LINK</a>
  <a href="{{ url_for('ativacao') }}">ATIVAÇÃO</a>
</nav>


  <div class="conteudo">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
